

:root{

    --primary-color: white;
    --secondary-color: rgb(61, 68, 73);
    --highlight-color: #3282b8;
    --dt-background-color-container: #2a3338;



    --dt-padding: 9px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;
}

#table-1{
    font-family: 'Poppins', sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--primary-color);
    width: 1100px;
    margin: 0 auto;
    font-size: 15px;
}

#table-1 .datatable{
    border-collapse: collapse;
    width: 100%;
}
th,
td{
    padding: var(--dt-padding);
}

td{
    border-bottom: solid 1px var(--secondary-color);
}

tbody tr:nth-child(even){
    background-color: var(--secondary-color);
}

tbody tr:hover{
    background-color: #00a65a;
}

th{
    color: #ffffff;
}